################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/PadelIT/.vs/PadelIT/v17/.suo
/.vs/slnx.sqlite
/Backend/PadelIT/.vs/PadelIT/FileContentIndex
/Backend/PadelIT/obj/Debug/net6.0/PadelIT.assets.cache
/Backend/PadelIT/obj/Debug/net6.0/PadelIT.csproj.AssemblyReference.cache
/Backend/PadelIT/obj/Debug/net6.0/PadelIT.GeneratedMSBuildEditorConfig.editorconfig
/Backend/PadelIT/obj/Release/net6.0/PadelIT.assets.cache
/Backend/PadelIT/obj/Release/net6.0/PadelIT.GeneratedMSBuildEditorConfig.editorconfig
/Backend/PadelIT/obj/Release/net6.0/PadelIT.GeneratedMSBuildEditorConfig.editorconfig
